absl-py==2.1.0
appdirs==1.4.4
astunparse==1.6.3
audioread==3.0.1
cachetools==5.3.3
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
configparser==7.0.0
decorator==4.4.2
flatbuffers==24.3.25
gast==0.5.4
google-auth==2.29.0
google-auth-oauthlib==1.2.0
google-pasta==0.2.0
grpcio==1.63.0
h5py==3.11.0
idna==3.7
imageio==2.34.1
imageio-ffmpeg==0.4.9
joblib==1.4.2
kapre==0.3.7
keras==2.15.0
kymatio @ git+https://github.com/kymatio/kymatio.git@2e190d92a19ce274988590c834e978063cb0c490
lazy_loader==0.4
libclang==18.1.1
librosa==0.10.2
llvmlite==0.42.0
Markdown==3.6
MarkupSafe==2.1.5
ml-dtypes==0.2.0
moviepy==1.0.3
msgpack==1.0.8
networkx==3.3
numba==0.59.1
numpy==1.26.4
oauthlib==3.2.2
openl3==0.4.2
opt-einsum==3.3.0
packaging==24.0
pillow==10.3.0
platformdirs==4.2.1
pooch==1.8.1
proglog==0.1.10
protobuf==4.25.3
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
requests==2.31.0
requests-oauthlib==2.0.0
resampy==0.2.2
rsa==4.9
scikit-image==0.23.2
scikit-learn==1.4.2
scipy==1.13.0
six==1.16.0
soundfile==0.12.1
soxr==0.3.7
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.37.0
tensorflow-macos==2.15.0
termcolor==2.4.0
threadpoolctl==3.5.0
tifffile==2024.5.3
tqdm==4.66.4
typing_extensions==4.11.0
urllib3==2.2.1
Werkzeug==3.0.3
wrapt==1.14.1
